.column-header {
  position: relative;
}

.expand-column-header {
  width: 50px;
}

.select-column-header {
  width: 50px;
  text-align: center;
}

.index-column-header {
  width: 40px;
}

.column-header.sortable {
  cursor: pointer;
}

.column-header .column-sort-icon {
  float: right;
}

.column-header.resizable .column-sort-icon {
  margin-right: 8px;
}

.column-header .column-sort-icon .column-sortable-icon {
  color: lightgray;
}

.column-header .column-resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 100%;
  cursor: col-resize;
}
