<div class="data-table">
  <div class="row">
    <div class="col-md-9">
      <dt-search></dt-search>
    </div>
    <div class="col-md-3">
      <dt-entries></dt-entries>
    </div>
  </div>
  <dt-loading *ngIf="showLoading && loading"></dt-loading>
  <table *ngIf="!loading" class="table table-striped table-hover table-bordered data-table">
    <thead>
      <tr>
        <th *ngIf="expandable" class="column-expand" width="50"></th>
        <th *ngIf="showIndex" class="column-index" width="40"></th>
        <th *ngIf="selectRowVisible" class="column-select" width="50"></th>
        <th *ngFor="let column of columns" (click)="headerClicked(column, $event)" class="column-header"
          [class.sortable]="column.sortable" [attr.width]="column.width > 0 ? column.width : 0">
          <span class="float-left">
            <ng-container *ngIf="!column.headerTemplate">{{column.header}}</ng-container>
            <ng-template *ngIf="column.headerTemplate" [ngTemplateOutlet]="column.headerTemplate"
              [ngTemplateOutletContext]="{ $implicit: { header: col.header } }"></ng-template>
          </span>
          <span *ngIf="column.sortable" class="float-right column-sort-icon">
            <i class="fa fa-sort" *ngIf="column.sortable && column.sortDirection === ''"></i>
            <i class="fa fa-sort-asc" *ngIf="column.sortable && column.sortDirection === 'asc'"></i>
            <i class="fa fa-sort-desc" *ngIf="column.sortable && column.sortDirection === 'desc'"></i>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-row [ngForOf]="displayData" let-idx="index">
        <tr>
          <td class="column-expand" (click)="toggleRowExpansion(row.item, idx)" *ngIf="expandable"
            width="50" style="text-align:center; padding:0px; padding-top:7px;">
            <a style="width:100%; text-align:center;">
              <i [ngClass]="{'fa': true, 'fa-plus-circle': idx != expandedRowIndex,
                      'fa-minus-circle' : idx == expandedRowIndex}" style="font-size:1.25em; cursor:pointer"></i>
            </a>
          </td>
          <td *ngIf="showIndex" class="column-index" width="50">{{ (idx + 1) + offset }}</td>
          <td *ngIf="selectRowVisible" class="column-select" width="40" class="select-column">
            <input type="checkbox" [(ngModel)]="row.selected" (change)="selectRow(row, idx, $event)"
            />
          </td>
          <td *ngFor="let column of columns" [attr.width]="column.width > 0 ? column.width : 0">
            <ng-container *ngIf="!column.bodyTemplate">{{row.item[column.name]}}</ng-container>
            <ng-template *ngIf="column.bodyTemplate" [ngTemplateOutlet]="column.bodyTemplate"
              [ngTemplateOutletContext]="{ $implicit: { value: row.item[column.name] }, row: row.item }">
            </ng-template>
          </td>
        </tr>
        <tr *ngIf="showExpandedRow && (idx == expandedRowIndex) && expandable" class="table-info">
          <td *ngIf="showIndex" [attr.colspan]="columnCount">
            <ng-template *ngIf="expandTemplate" [ngTemplateOutlet]="expandTemplate" [ngTemplateOutletContext]="{row: row.item}"></ng-template>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <!-- <app-data-table-pagination *ngIf="pagination && showLoading && !loading" [offset]="offset" [limit]="limit" [size]="itemCount" -->
  <dt-pagination *ngIf="pagination && !loading" [offset]="offset" [limit]="limit"
    [size]="itemCount" (pageChange)="onPageChange($event)"></dt-pagination>
</div>
