<!--The content below is only a placeholder and can be replaced.-->
<table appSortableTable (sorted)="onSorted($event)">
  <thead>
    <tr>
      <th appSortableColumn sortDirection="asc" columnName="Id">Id</th>
      <th appSortableColumn columnName="firstname">First Name</th>
      <th appSortableColumn columnName="lastname">Last Name</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of customers">
      <td>{{c.id}}</td>
      <td>{{c.firstname}}</td>
      <td>{{c.lastname}}</td>
    </tr>
  </tbody>
</table>

