<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
  <table class="table table-striped table-bordered" appSortableTable (sorted)="onSorted($event)">
    <thead>
      <tr>
        <th appSortableColumn columnName="Id">Id</th>
        <th appSortableColumn columnName="firstname">First Name</th>
        <th appSortableColumn columnName="lastname">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customers">
        <td>{{c.id}}</td>
        <td>{{c.firstname}}</td>
        <td>{{c.lastname}}</td>
      </tr>
    </tbody>
  </table>
</div>
