<div>
  <span>{{message$ | async}}</span>
</div>
<div>
  <span><button (click)="spanish()">Spanish</button></span>
  <span><button (click)="french()">French</button></span>
  <span><button (click)="reset()">Reset</button></span>
</div>

<div *ngIf="post$ | async as p">
  <h2>{{ p.text }} </h2>
  <h4> {{ p.likes }} </h4>


</div>

<div>
    <input [(ngModel)]="text">
    <button (click)="editText()">Edit Text</button>
  </div>

  <span><button (click)="resetPost()">Reset</button></span>
  <span><button (click)="upVote()">Up Vote</button></span>
  <span><button (click)="downVote()">Down Vote</button></span>
